* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 98%);
   font-family: 'Poppins', sans-serif;
}
header {
  text-align: center;
  padding: 45px;
}

header h1:first-of-type {
  font-weight: 200;
}

header p {
  padding-top: 15px;
  color: hsl(229, 6%, 66%);
}
.card-icon {
  padding-left: 70%;
  padding-top: 10px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  padding: 15px;
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  max-width: 1120px;
  margin: 0 auto;
}

.container p {
  color: hsl(229, 6%, 66%);
  padding-top: 5px;
}

.first-column {
  border-top: solid hsl(180, 62%, 55%);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #d8e2ee;
  grid-area: 3 / 1 / 6 / 2;
  padding: 20px;
}


.center-top-box {
  border-top: solid hsl(0, 78%, 62%);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #d8e2ee;
  grid-area: 1 / 2 / 4 / 3;
  padding: 20px;
  
}

.center-bottom-box {
  border-top: solid hsl(34, 97%, 64%);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #d8e2ee;
  grid-area: 4 / 2 / 7 / 3;
  padding: 20px;
}

.third-column {
  border-top: solid hsl(212, 86%, 64%);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #d8e2ee;
  grid-area: 3 / 3 / 6 / 4;
  padding: 20px;
}

footer {
  text-align: center;
}

@media (max-width:600px) {
  .container{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}   
    


